@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: dosis-medium;
  src: url(./assets/Fonts/Dosis/static/Dosis-Medium.ttf);
}
@font-face {
  font-family: dosis-bold;
  src: url(./assets/Fonts/Dosis/static/Dosis-Bold.ttf);
}
@font-face {
  font-family: dosis-semibold;
  src: url(./assets/Fonts/Dosis/static/Dosis-SemiBold.ttf);
}
@font-face {
  font-family: dosis-light;
  src: url(./assets/Fonts/Dosis/static/Dosis-Light.ttf);
}
@font-face {
  font-family: dosis-ExtraLight;
  src: url(./assets/Fonts/Dosis/static/Dosis-ExtraLight.ttf);
}
body {
  background-color: #212121;
  margin: 0;
}
